@import 'styles/global.postcss';
@import 'styles/variables.postcss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html {
	background: $background;
	padding: 10px;
}

body {
	color: $text-dark;
	font-size: 18px;
	font-family: 'Poppins';
	font-weight: 500;
}
