@import 'global.postcss';

$primary: #a18aff;
$secondary: #f9f8fd;
$background: #8e71ff;

$todo-purple: #ca8bfe;
$todo-blue: #3fd4f4;
$todo-pink: #fd99af;
$todo-grey: #717082;
$todo-yellow: #fac608;

$text-light: #fff;
$text-dark: $todo-grey;

html {
	background: $background;
}

body {
	background: $primary;
	color: $text-dark;
	font-size: 18px;
	border: 10px solid $background;
	border-radius: 24px;
}
